@{
    ViewBag.Title = "Home Page";
}

<h1> Тестовое задание</h1>
<h2> Гончарова Евгения Игоревича </h2>
<p> Работа содержит:</p>
<p>
    •	Добавление записей в БД
</p>
<p>
    •	Вывод записей из БД
</p>
<p>
    •	Редактирование записей в БД
</p>
<p>
    •	Работа с выпадающими списками
</p>
<p>
    •	Работа с entity framework и linq
</p>
<p>
    •	Работа с автокомплитом с использованием jQuery ui
</p>
<p>
    •	Валидация моделей
</p>

